<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>
  <body>
    <%- include('layouts/navigation.ejs') %>
    
    <section class="section__container about__container" id="about">
      <div class="about__image">
        <img src="assets/about5.jpg" alt="about" />
      </div>
      <div class="about__content">
        <p class="section__subheader">ABOUT US</p>
        <h2 class="section__header"><%= titled %></h2>
        <p class="section__description">
          <%= desc %>
        </p>
        <div class="about__btn">
          <button class="btn">Read More</button>
        </div>
      </div>
    </section>

    <%- include('layouts/footer.ejs') %>
    </body>
  </html>