<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>
  <body>
    <%- include('layouts/navigation.ejs') %>

    <section class="explore" id="explore">
      <p class="section__subheader">EXPLORE</p>
      <h2 class="section__header">What's New Today.</h2>
      <div class="explore__bg">
        <% explore.forEach(explore => { %>
        <div class="explore__content">
          <p class="section__description"><%= explore.created %></p>
          <h4><%= explore.title %></h4>
          <h5><%= explore.desc %></h5>
        </div>
        <% }); %>
      </div>
    </section>

    <%- include('layouts/footer.ejs') %>
  </body>
</html>
